
name: Python CI

# trigger workflow on push to main branch or pull request
on:
  push:
    branches:
        - main
  pull_request:
    branches:
        - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        
  #step1: check the code in repo
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
        
  #Step 2:install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
  #Step 3: Run test
    - name: Test with pytest
      run: pytest
